<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOP</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">

    <!-- GoogleFont -->
    <!-- logo -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Yuji+Mai&display=swap" rel="stylesheet">

</head>
<body>
    <div id="wrap">
        <div class="logo_box">
            <div class="logo">
                <a href="/index"><img src="/static/images/logo.svg" alt="ロゴ"></a>
            </div>
            <div class="system_name">
                <a href="/index">Digiresi</a>
            </div>
            <div class="logout_btn">
                <a href="/login">ログアウト</a>
            </div>
        </div>
    </div>
    <div class="search_date_scan">
        <form class="search_box" id="search-form">
            <input type="text" id="keyword" name="keyword" placeholder="キーワードを入力">
            <button type="submit">
                <img src="/static/images/search.svg" alt="検索ボタン">
            </button>
        </form>        
        <form action="#" class="date_box" method="GET">
            <input type="date" name="start_date">
            <span>〜</span>
            <input type="date" name="end_date">
            <button type="submit">
                <img src="/static/images/search.svg" alt="検索ボタン">
            </button>
        </form>
        <div class="scan_btn">
            <a href="/upload"><img src="/static/images/scan_btn.png" alt="スキャンボタン"></a>
        </div>
    </div>
    <div class="main">
        <div class="main_nav">
            <a href="javascript:void(0);" class="category-btn" data-category="1">
                <img src="/static/images/food.svg" alt="食費">
            </a>
            <a href="javascript:void(0);" class="category-btn" data-category="2">
                <img src="/static/images/traffic.svg" alt="交通費">
            </a>
            <a href="javascript:void(0);" class="category-btn" data-category="3">
                <img src="/static/images/stay.svg" alt="宿泊費">
            </a>
            <a href="javascript:void(0);" class="category-btn" data-category="4">
                <img src="/static/images/daily.svg" alt="日用品">
            </a>
            <a href="javascript:void(0);" class="category-btn" data-category="5">
                <img src="/static/images/hobby.svg" alt="遊興費">
            </a>
            <a href="javascript:void(0);" class="category-btn" data-category="6">
                <img src="/static/images/miscellaneous.svg" alt="雑費">
            </a>
        </div>
        <div class="main_receipt" id="receipt-container">
            {% for receipt in receipts %}
            <div class="grid-item">
                <img src="{{ receipt.image_path }}" alt="領収書画像" class="receipt_image" onclick="openModal('{{ receipt.image_path }}')">
            </div>
        {% endfor %}
        </div>

        <!-- モーダルウィンドウ -->
        <div id="imageModal" class="modal">
            <span class="close" onclick="closeModal()">&times;</span>
            <img class="modal-content" id="modalImage">
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/index.js') }}" defer></script>
    </body>
</html>